<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List Application</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<style>
    body {
        background-color: #EFEFEF;
        font-family: Sans Serif,serif;
    }
    @media only screen and (max-width: 600px) {
        #mobile {
            display: none;
        }
    }
</style>
<body>
    <div style="padding: 100px;" class="ui container center aligned">
        <h1 style="font-size: 5vh; color:black" class="ui center aligned header arial">To Do List Application</h1>
        <br>
        <form style="display: inline-block" class="ui form" action="/add" method="post">
            <div style="display:flex; align-items: center; padding: 20px" class="field">
                <input style="width: 500px"="text" name="title" placeholder="Enter an item in To Do List...">
                <button style="margin-left: 2px" class="ui blue button" type="submit">Add</button>
            </div>

        </form>
        <br>
        <hr>

        {% for todo in todo_list %}
        <div style="padding: 30px" class="ui segment">
            <p style="font-size:3vh" class="ui big header">Number of Task: {{todo.id }}</p>
            <p style="font-size:2svh" class="ui big header">Description: {{ todo.title }}</p>
            <b><span id = "mobile" class="ui gray">Task Status:</span></b>
            {% if todo.complete == False %}

            <span style="margin: 5px" class="ui gray label">Task Not Done</span>
            {% else %}
            <span class="ui green label">Task Done</span>
            {% endif %}
            {% if todo.complete == False %}
            <a style="margin: 5px" class="ui blue button" href="/update/{{ todo.id }}">Complete Task</a>
            {% else %}
            <a style="margin: 5px" class="ui blue button" href="/update/{{ todo.id }}">Undone Completed Task</a>
            {% endif %}
            <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
        </div>
        {% endfor %}
    </div>
</body>

</html>